.slider {
	width: 100%;
	height: 100%;
}

.slider-guide {
	background: white;
}

.slider-knob {
	background: white;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.slider-left-bound, .slider-right-bound {
	background: white;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.slider-dec-btn {
background-color: whiteSmoke;
background-image: url('../images/glyphicons_183_volume_down.png');
-webkit-border-radius: 10px;
border-radius: 10px;
background-repeat: no-repeat;
background-position: 50%;
cursor: pointer;
}

.slider-dec-btn:active, .slider-inc-btn:active{
	background-color: #333;
}

.slider-inc-btn {
cursor: pointer;
background-color: whiteSmoke;
background-image: url('../images/glyphicons_184_volume_up.png');
-webkit-border-radius: 10px;
border-radius: 10px;
background-repeat: no-repeat;
background-position: 50%;
}