/* Styling shamefully inspired by The Daring Fireball- a great blog. I'm sorry man but it is near perfect! */

html {
	height: 100%;
	margin-bottom: 1px;
	}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #ddd;
	border-color: white;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
	}

a:visited {
	color: #ddd;
	border-color: #999;
	border-width: 0 0 1px 0;
	border-style: none none dotted none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
	}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #BE2E2E;
	border-color: #BE2E2E;
	}

a em {
	padding-bottom: 2px; /* Hack for WebKit; otherwise the underscore padding is 0 */
	}

body {
	margin-top: 0;
	padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	line-height: 1.8em;
	color: white;
	text-align: left;
	min-width: 760px;
	background-color: #802E2E;;
}

ul {
	list-style-type: square;
}

ul, ol {
	padding-left: 1.25em;
	margin: 0 0 2em 1em;
}

dt {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: normal;
	margin: 0 0 .4em 0;
	letter-spacing: normal;
	text-transform: none;
	}
dd {
	margin: auto auto 2.5em 2em;
	}

dd p {
	margin: 0 0 1em 0;
	}

p {
 	margin: 0 0 1.6em 0;
	padding: 0;
	}

h1 {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
	font-size: 1.55em; /* was 1.46em for Georgia */
	line-height: 1.5em;
	text-align: left;
	font-weight: normal;
	margin: 0em 0px 1.25em 0px;
	}

h2 {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1.1em; /* 1 */
	text-align: left;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin: 4em 0 1em 0;
	text-transform: uppercase;
	}

h1 + h2 {
	margin-top: 2em;
	}
h2 + h3 {
	margin-top: 1.5em;
	}

h3 {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: .91em;
	text-align: left;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin-bottom: 1.4em;
	margin-top: 3em;
	text-transform: uppercase;
	}


p + h3 {
	margin-top: 4em;
	}
pre + h3 {
	margin-top: 4em;
	}

h6 + h2 {
	margin-top: 2em;
	}


h4, h5, h6 {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	line-height: 1.8em;
	margin: 0 0 1em 0;
	}
/* End of Global Styles */
/* Banner Styles */
#banner {
	width: 300px;
	height: auto;
	border: 0px dotted #606870;
	padding: 0;
	/*margin: 59px 12px 69px 41px;*/
	text-align: left;
	background-color: transparent;
	line-height: 0px;
	border-image: initial;
}
#banner h1 {
	font-family: 'Playball';
font-size: 5em;
color: #F7F5F5;
text-shadow: 4px 2px maroon;
}
/* Sidebar Styles */
#sidebar {
	position: absolute;
	margin: 0 0 0 0;
	width: 160px;
	height: auto;
	border: 0px dotted gray;
	padding: 5px 0 0 0;
	background-color: transparent;
	color: #EEE;
	text-align: right;
	line-height: 1em;
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	border-image: initial;
}
#sidebar h5 { text-align: right;}
#sidebar p {
	padding: 0;
	letter-spacing: 2px;
	margin: 0 0 5em -3em;
}

#sidebar ul {
	margin: 0 0 5em -4em;
}

#sidebar li {
	list-style: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 1em 0;
	padding: 0;
}

#sidebar li:hover {
	
}

#sidebar a {
	color: #eee;
	padding: 4px 1px 4px 1px;
	text-decoration: none;
}
#sidebar a:link {
	color: #eee;
	border: 0;
	}
#sidebar a:visited {
	color: #eee;
	border: 0;
	}
#sidebar a:hover {
	color: white;
	text-decoration: none;
	background-color: #BE2E2E;
	border-color: #606870;
	}
/* Main Styles */
#main {
	padding: 0px;
	border: 0px dotted gray;
	margin-left: 222px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 425px;
	border-image: initial;
}
/* Box Styles */
#box {
	border: 0;
	width: 720px;
	height: auto;
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: left;
	border-image: initial;
}

/* Resume Styles */
#resume-hanger {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 20px;
	height: 20px;
	background: transparent;
}

/* Beginning of classes */
/* Article Styles */
.article {
	background-color: transparent;
	padding: 0 0 0 0;
	margin: 0;
	border-width: 0;
	border-style: dotted;
	border-color: gray;
	color: #eee;
	}

.article h1 a {
	color: #eee;
	text-decoration: none;
	border: 0;
	}

.article h1 a:visited {
	color: #eee;
	}
.article img {
	border: 0px solid #ccc; /* 7 Jan 2011 */
	}

.noborder {
	border: 0px !important;
}

footer {
	height: 100px;
}